.prodetails
  .mint-swipe
    height 4rem
  .lun
    img
      width 100%
      height 4rem
  .det
    h5
      font-size .30rem
    h4
      font-size .26rem
  .img
    font-size 0
    img
      width 100%
      max-height 4rem
  .foot
    position fixed
    bottom 0
    width 100%
    height .8rem
    background white
    line-height .8rem
    .btn
      button
        width 2rem
        height .56rem
        color #985c0c
        border-radius 1rem
        border 1px solid #985c0c
        margin-left .1rem
  .maskbg
    position fixed
    width 100%
    height 100%
    background rgba(0,0,0,0.3)
    top 0
    left 0
  .maskmain
    position fixed 
    width 100%
    height 6rem
    bottom 0
    left 0
    background white
    padding-bottom 0.8rem
    img 
      width 1.74rem
      height 1.74rem
      margin-right .2rem
    h4
      font-size .36rem
      margin-bottom .2rem
      margin-top .4rem
    p
    font-size .3rem
    .gui
      li
        margin-bottom .1rem
      h4
        margin 0
        margin-bottom .1rem
      dl
        display flex
        dd
          width .6rem
          text-align center
          border 1px solid #afafaf
          border-radius @width
          margin-right .1rem
          padding .05rem .15rem
    .opa
      h5
        font-size .36rem
        margin-bottom .1rem
      font-size 0
      .reduce
        width .6rem
        height .6rem
        background none
        border 1px solid #cac5c5
        text-align center
        vertical-align middle
      .num
        width 1rem
        height .6rem
        text-align center
        border-top 1px solid #cac5c5
        border-bottom 1px solid #cac5c5
        vertical-align middle
        font-size .3rem
      .add
        width .6rem
        height .6rem
        background none
        border 1px solid #cac5c5
        text-align center
        vertical-align middle
  .maskbg-enter-active,.maskbg-leave-active
    transition opacity 0.3s
  .maskbg-enter,.maskbg-leave-to 
    opacity 0
  .maskmain-enter-active,.maskmain-leave-active
    transition all 0.1s
  .maskmain-enter,.maskmain-leave-to 
    transform: translateY(100%)
     
    

